name: Zephyr tests

on:
  push:
    branches: [ 'master', 'main', 'release/**', 'action-prune' ]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

jobs:
  run_test:
    name: Build and run
    strategy:
      matrix:
        config:
          - zephyr-ref: v3.4.0
            zephyr-sdk: 0.16.1
    runs-on: ubuntu-22.04
    # This should be a safe limit for the tests to run.
    timeout-minutes: 20
    steps:
      - name: Install west
        run: sudo pip install west

      - name: Init west workspace
        run: west init --mr ${{ matrix.config.zephyr-ref }} zephyr

      - name: Update west.yml
        working-directory: zephyr/zephyr
        run: |
          REF=$(echo '${{ github.ref }}' | sed -e 's/\//\\\//g')
          sed -e 's/remotes:/remotes:\n    \- name: wolfssl\n      url\-base: https:\/\/github.com\/wolfssl/' -i west.yml
          sed -e "s/remotes:/remotes:\n    \- name: wolfssh\n      url\-base: https:\/\/github.com\/${{ github.repository_owner }}/" -i west.yml
          sed -e "s/projects:/projects:\n    \- name: wolfssh\n      path: modules\/lib\/wolfssh\n      remote: wolfssh\n      revision: $REF/" -i west.yml
          sed -e 's/projects:/projects:\n    \- name: wolfssl\n      path: modules\/crypto\/wolfssl\n      remote: wolfssl\n      revision: master/' -i west.yml

      - name: Update west workspace
        working-directory: zephyr
        run: west update -n -o=--depth=1

      - name: Export zephyr
        working-directory: zephyr
        run: west zephyr-export

      - name: Install pip dependencies
        working-directory: zephyr
        run: sudo pip install -r zephyr/scripts/requirements.txt

      - name: Install zephyr SDK
        run: |
          wget -q https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v${{ matrix.config.zephyr-sdk }}/zephyr-sdk-${{ matrix.config.zephyr-sdk }}_linux-x86_64_minimal.tar.xz
          tar xf zephyr-sdk-${{ matrix.config.zephyr-sdk }}_linux-x86_64_minimal.tar.xz
          cd zephyr-sdk-${{ matrix.config.zephyr-sdk }}
          ./setup.sh -h -c -t x86_64-zephyr-elf

      - name: Run wolfssh tests
        id: wolfssh-test
        working-directory: zephyr
        run: |
          ./zephyr/scripts/twister --testsuite-root modules/lib/wolfssh --test zephyr/samples/tests/sample.lib.wolfssh_tests -vvv
          rm -rf zephyr/twister-out
          ./zephyr/scripts/twister --testsuite-root modules/lib/wolfssh --test zephyr/samples/tests/sample.lib.wolfssh_nofs_tests -vvv
          rm -rf zephyr/twister-out

      - name: Zip failure logs
        if: ${{ failure() && steps.wolfssh-test.outcome == 'failure' }}
        run: |
          zip -9 -r logs.zip zephyr/twister-out

      - name: Upload failure logs
        if: ${{ failure() && steps.wolfssh-test.outcome == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          name: zephyr-client-test-logs
          path: logs.zip
          retention-days: 5
